<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CGA</title>
</head>
<body>

    <div id="entrenamiento-icono">
        <a th:href="@{/training}" style="text-decoration: none;">🏋️‍</a> <!-- Ícono de mancuerna -->
        <span id="contador-series" th:text="${session.trainingSeriesIds != null ? #lists.size(session.trainingSeriesIds) : 0}">0</span> <!-- Contador de series -->
    </div>

    <h1 th:text="${exerciseName}"></h1>
    <h2>Mejores marcas personales: </h2>
    <h3>"Récord mínimo 5 reps":
        <span th:if="${weightFiveRepsRec != null}">
            <span style="color:red;" th:text="${repsFiveRepsRec} + ' repeticiones con ' + ${weightFiveRepsRec} + ' kg'"></span>
        </span>
        <span th:unless="${weightFiveRepsRec != null}">
            No hay registro aún
        </span>
    </h3>
    <div style="border: 1px solid red;">
        <form th:action="@{/insertSet}" method="post" th:object="${setRegistrationDTO}">
            <!-- Campo para seleccionar el peso -->
            <div>
                <label for="weight">Peso (kg):</label>
                <select id="weight" th:field="*{weight}" required>
                    <option value="10">10 kg</option>
                    <option value="20">20 kg</option>
                    <option value="30">30 kg</option>
                    <option value="50">50 kg</option>
                </select>
            </div>

            <!-- Campo para ingresar las repeticiones -->
            <div>
                <label for="repeticiones">Repeticiones:</label>
                <input type="number" id="repeticiones" th:field="*{reps}" min="1" required>
            </div>

            <!-- Campo oculto id ejercicio -->
            <input type="hidden" name="idExercise" th:value="*{idExercise}">

            <!-- Botones para enviar el formulario -->
            <div>
                <button type="submit" name="action" value="register">Guardar serie</button>
                <button type="submit" name="action" value="registerAndAdd">Guardar serie y añadir al entrenamiento</button>
            </div>
        </form>

    </div>
    <a th:href="@{/home}">Volver al menú principal</a>
</body>
</html>
