<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - CGA</title>
  <style>
    div {
      border: 1px solid black;
      width: 300px;
      display: inline-block;
    }
  </style>
</head>
<body>

  <div>
    <h2>Ejercicio 1</h2>
    <a th:href="@{/exercise(idExercise=1)}" >
      <img th:src="@{images/aparato1.png}" alt="Descripción de la imagen" style="max-width: 100%; height: auto;">
    </a>
  </div>

  <div>
    <h2>Ejercicio 2</h2>
    <a th:href="@{/exercise(idExercise=2)}" >
      <img th:src="@{images/aparato2.jpg}" alt="Descripción de la imagen" style="max-width: 100%; height: auto;">
    </a>
  </div>

  <div>
    <h2>Ejercicio 3</h2>
    <a th:href="@{/exercise(idExercise=3)}" >
      <img th:src="@{images/aparato3.jpg}" alt="Descripción de la imagen" style="max-width: 100%; height: auto;">
    </a>
  </div>

</body>
</html>