<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - CGA</title>
  <style>
    div {
      border: 1px solid black;
      width: 300px;
      display: inline-block;
    }
  </style>
  <script>
        // Función para enviar el formulario al hacer clic en la imagen
        function submitForm(idExercise, exerciseName) {
            // Crear un formulario dinámico
            const form = document.createElement("form");
            form.method = "post";
            form.action = "/exercise"; // Ruta a la que se enviará el formulario

            // Crear un campo oculto para el ID del ejercicio
            const idExerciseInput = document.createElement("input");
            idExerciseInput.type = "hidden";
            idExerciseInput.name = "idExercise";
            idExerciseInput.value = idExercise;
            form.appendChild(idExerciseInput);

            // Crear un campo oculto para el nombre del ejercicio
            const exerciseNameInput = document.createElement("input");
            exerciseNameInput.type = "hidden";
            exerciseNameInput.name = "exerciseName";
            exerciseNameInput.value = exerciseName;
            form.appendChild(exerciseNameInput);

            // Agregar el formulario al cuerpo del documento y enviarlo
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>
<body>

  <a th:href="@{/training-history-form}">Ver el historial de entrenamientos</a>

  <div id="entrenamiento-icono">
    <span>🏋️‍</span> <!-- Ícono de mancuerna -->
    <span id="contador-series" th:text="${session.trainingSeriesIds != null ? #lists.size(session.trainingSeriesIds) : 0}">0</span> <!-- Contador de series -->
  </div>

  <div>
    <h2>Press banca</h2>
    <img th:src="@{images/aparato1.png}"
         alt="Descripción de la imagen"
         style="max-width: 100%; height: auto; cursor: pointer;"
         onclick="submitForm(1, 'Press banca')">
  </div>

  <div>
    <h2>Pectoral fly</h2>
    <img th:src="@{images/aparato2.jpg}"
         alt="Descripción de la imagen"
         style="max-width: 100%; height: auto; cursor: pointer;"
         onclick="submitForm(2, 'Pectoral fly')">
  </div>

  <div>
    <h2>Press francés</h2>
    <img th:src="@{images/aparato3.jpg}"
         alt="Descripción de la imagen"
         style="max-width: 100%; height: auto; cursor: pointer;"
         onclick="submitForm(3, 'Press francés')">
  </div>

</body>
</html>

<!--

  <div>
    <h2>Press banca</h2>
    <img th:src="@{images/aparato1.png}"
         alt="Descripción de la imagen"
         style="max-width: 100%; height: auto; cursor: pointer;"
         onclick="submitForm(1, 'Press banca')">
  </div>


-->